<!-- header -->
<header class="header">
  <div class="header__wrap">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header__content">
            <!-- header logo -->
            <a [routerLink]="['']" class="header__logo">
              <img src="./assets/img/logo.svg" alt="" />
            </a>
            <!-- end header logo -->

            <!-- header nav -->
            <ul class="header__nav">
              <!-- dropdown -->
              <li class="header__nav-item">
                <a
                  class="header__nav-link"
                  [routerLink]="['', '']"
                  role="button"
                  >Home</a
                >
              </li>

              <li *ngIf="isloged.islogedin" class="header__nav-item">
                <a
                  [routerLink]="['', 'user', 'filter', 'movies']"
                  class="header__nav-link"
                  >Movies</a
                >
              </li>
              <li *ngIf="isloged.islogedin" class="header__nav-item">
                <a
                  [routerLink]="['', 'user', 'filter', 'tvshows']"
                  class="header__nav-link"
                  >TV Series</a
                >
              </li>
              <li *ngIf="isloged.islogedin" class="header__nav-item">
                <a
                  [routerLink]="['', 'user', 'playlist', userId.id]"
                  class="header__nav-link"
                  >My PlayList</a
                >
              </li>
              <li class="header__nav-item">
                <a [routerLink]="['', 'user', 'about']" class="header__nav-link"
                  >About</a
                >
              </li>

              <li *ngIf="isadmin.isAdmin" class="header__nav-item">
                <a
                  [routerLink]="['admin', 'dashboard']"
                  class="header__nav-link"
                  >DashBoard</a
                >
              </li>
            </ul>
            <!-- end header nav -->

            <!-- header auth -->
            <div class="header__auth">
              <button
                class="header__search-btn"
                type="button"
                (click)="searchbtn()"
              >
                <i class="icon ion-ios-search"></i>
              </button>

              <a
                *ngIf="!isloged.islogedin"
                (click)="loginFunc()"
                class="header__sign-in"
              >
                <i class="icon ion-ios-log-in"></i>
                <span>sign in</span>
              </a>

              <a
                *ngIf="isloged.islogedin"
                [matMenuTriggerFor]="profile"
                class="link"
              >
                <div class="profilepicthumbnail">
                  <img [src]="profilepic" *ngIf="profilepic" />
                  <span class="profileinitials" *ngIf="!profilepic">{{
                    profileInit
                  }}</span>
                </div>
              </a>
              <mat-menu #profile="matMenu" class="mymegamenu">
                <button mat-menu-item [routerLink]="['user', 'profile']">
                  <mat-icon>account_box</mat-icon>Profile
                </button>
                <button mat-menu-item (click)="changePasswordFunc()">
                  <mat-icon>password</mat-icon>Change password
                </button>
                <button mat-menu-item (click)="logoutFunc()">
                  <mat-icon>exit_to_app</mat-icon>Log out
                </button>
              </mat-menu>
            </div>
            <!-- end header auth -->

            <!-- header menu btn -->
            <button class="header__btn" type="button">
              <span></span>
              <span></span>
              <span></span>
            </button>
            <!-- end header menu btn -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- header search -->
  <form class="header__search">
    <div class="container">
      <div class="row containerSearch">
        <div class="col-12">
          <div class="header__search-content">
            <input
              type="text"
              placeholder="Search for a movie, TV Series that you are looking for"
              [(ngModel)]="searchInput"
              name="search"
              autocomplete="off"
            />
          </div>
          <div class="dropdownSearch" *ngIf="isSearchbtn">
           
            <ul *ngFor="let movie of moviesList | search : searchInput">
              
              <li>
                <div>
                  <!-- <mat-icon>local_movies</mat-icon> -->
                  <img width="40px" src="{{movie.thumbnail || 'assets/img/poster.png'}}"/>
                </div>
                <span
                  ><a
                    [routerLink]="['', 'user', 'movie', movie._id]"
                    target="_blanc"
                    >{{ movie.title }}</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- end header search -->
</header>
<!-- end header -->

<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- footer list -->

      <!-- end footer list -->

      <!-- footer list -->
      <div class="col-6 col-sm-4 col-md-3">
        <h6 class="footer__title">Resources</h6>
        <ul class="footer__list">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing Plan</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer list -->
      <div class="col-6 col-sm-4 col-md-3">
        <h6 class="footer__title">Legal</h6>
        <ul class="footer__list">
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer list -->
      <div class="col-12 col-sm-4 col-md-3">
        <h6 class="footer__title">Contact</h6>
        <ul class="footer__list">
          <li><a href="#">+1 (000) 000-0000</a></li>
          <li><a href="mailto:support@email.com">support@email.com</a></li>
        </ul>
        <ul class="footer__social">
          <li class="facebook">
            <a href="#"><i class="icon ion-logo-facebook"></i></a>
          </li>
          <li class="instagram">
            <a href="#"><i class="icon ion-logo-instagram"></i></a>
          </li>
          <li class="twitter">
            <a href="#"><i class="icon ion-logo-twitter"></i></a>
          </li>
          <li class="vk">
            <a href="#"><i class="icon ion-logo-vk"></i></a>
          </li>
        </ul>
      </div>
      <!-- end footer list -->

      <!-- footer copyright -->
      <div class="col-12">
        <div class="footer__copyright">
          <small><a target="_blank" href="#"></a>@copyright 2023</small>

          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <!-- end footer copyright -->
    </div>
  </div>
</footer>
<!-- end footer -->
