
ul.nav-news-feed{
  padding: 0;
  background:#fff;
  padding-top:20px;
}

ul.nav-news-feed li{
  list-style: none;
  display: block;
  padding: 15px 0;
  color: #6d6e71;
  margin: 0 20px;
}



ul.nav-news-feed li:hover{
 cursor: pointer;
  text-decoration:underline;
 
  }

  ul.nav-news-feed li:hover i{
    color:#1E56AF
    
     }
   

ul.nav-news-feed li a{color: #6d6e71;}

ul.nav-news-feed li i{
  font-size: 18px;
  margin-right: 15px;
  float: left;
}

.contentContainer{
  margin: 10px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  
}

.manageCategory{
  background-color: #fff;
}

 



