<div class="card shadow-effect cardLink" [routerLink]="['/post', data._id]">
    <img src="{{data.imgPath}}" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">{{data.categoryId.name}}</small>
        <small class="bg-light text-success text-center ml-3" *ngIf="data?.isFeatured">Feacture</small>
        <small class="bg-light text-info text-center ml-3">Views - {{data.views}}</small>
        <h5 class="mt-1">{{data.title}}</h5>
        <P>{{data.excerpt | slice:0:250}}</P>
        <small class="bg-light text-warning  text-center ml-3">LAST UPDATED -  {{data.updatedAt | date}}</small>
    </div>
</div>
