
                <div class="sign__content">
                    <!-- authorization form -->
                    <form [formGroup]="form" (ngSubmit)="onsubmit()" class="sign__form">
                        <a href="index.html" class="sign__logo">
                            <img src="../../assets/img/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="password" class="sign__input" formControlName="oldpassword" placeholder="Current password">
                        </div>
                        <div class="text-warning" *ngIf="form.controls.oldpassword.touched && form.controls.oldpassword.invalid" class="alert alert-danger">
                            <div *ngIf="form.controls.oldpassword.errors?.['required']">Password is required.</div>
                        </div>

                        <div class="sign__group">
                            <input type="password" class="sign__input" formControlName="newpassword" placeholder="New password">
                        </div>
                        <div class="text-warning" *ngIf="form.controls.newpassword.touched && form.controls.newpassword.invalid" class="alert alert-danger">
                            <div *ngIf="form.controls.newpassword.errors?.['required']">Password is required.</div>
                            <div *ngIf="form.controls.newpassword.errors?.['minLength']">Your Password must be at least 5 Characters long.</div>
                            <div *ngIf="form.controls.newpassword.errors?.['pattern']">Your password must contains at least one uppercase,<br>one lowercase and one number.</div>
                        </div>


                       
                        
                        <button class="sign__btn" type="submit" [disabled]="!form.valid">Change password</button>

                        

                  
                    </form>
                    <!-- end authorization form -->
                </div>
           
