
                <div class="sign__content">
                    <!-- authorization form -->
                    <form [formGroup]="form" (ngSubmit)="onsubmit()" class="sign__form">
                        <a href="index.html" class="sign__logo">
                            <img src="../../assets/img/logo.svg" alt="">
                        </a>
<span class="text-primary-emphasis">An email with your password be sent to you shortly</span>
                        <div class="sign__group">
                            
                            <input type="text" class="sign__input" formControlName="email" placeholder="Your email">
                            <div class="text-warning" *ngIf="(form.controls.email.touched && form.controls.email?.invalid)|| form.controls.email?.dirty">
                                <span  *ngIf= "form.controls.email.errors?.['required']">Your Email is required</span>
                                <span *ngIf="form.controls.email.errors?.['pattern']">Email is invalid</span>
                            </div>
                        </div>
                        
                        <button class="sign__btn" type="submit" [disabled]="!form.valid">Submit</button>

                    </form>
                    <!-- end authorization form -->
                </div>
           
