<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p>From here you can manage your blog posts</p>
                    <button class="btn btn-info bg-theme" routerLink="/posts/new">Add New Posts</button>
                    <button class="btn btn-warning  ml-2" routerLink="/">Back to dashboard</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-3"></div>
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">
                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                
                                <td>Post Image</td>
                                <td>Title</td>
                                <td>Excerpt</td>
                                <td>Category</td>
                                <td>Date</td>
                                <td>Actions</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let post of postsList, let i = index'>
                                
                                <td class="imgtd"><img class="img-fluid img-thumbnail" src={{post.imgPath}} alt=""></td>
                                <td class="titletd">{{post.title}}</td>
                                <td class="excerpttd">{{post.excerpt}}</td>
                                <td>{{post.categoryId?.name}}</td>
                                <td>{{post.createdAt|date:'MM-dd-yyyy'}}</td>
                                <td>
                                    <i class="fas fa-pen text-success iconStyle" title="Edit" (click)="linkToEdit(post._id)"></i>
                                    <i class="fas fa-trash text-danger iconStyle" title="Delete" (click)="deleteById(post._id)"></i> 
                                    <button class="btn btn-success ml-2 featuredBtn" *ngIf="!post.isFeatured" (click)="featuredById(post.isFeatured, post._id)">Featured</button>
                                    <button class="btn btn-danger ml-2 featuredBtn" *ngIf="post.isFeatured" (click)="featuredById(post.isFeatured, post._id)">Remove Featured</button>
                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
