<app-navbar></app-navbar>
<div class="container mx-auto my-16">
    <h1 class="text-5xl mt-0 mb-5">BPB Password Manager</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus incidunt, qui architecto cumque itaque ratione pariatur quis mollitia sunt enim aperiam quod, veniam fuga, voluptatum culpa deleniti nostrum temporibus facilis.</p>
    <button class="mb-5 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md" (click)="showAddForm()"> add New Site</button>
    <div class="bg-teal-200 text-teal-700  p-3 font-bold mb-2" *ngIf="isToastrShown">Data uploaded</div>
    <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900" *ngIf="isAddFormShown">
        <h2 class="text-3xl text-center" *ngIf="!isEdit">Add New Site</h2>
        <h2 class="text-3xl text-center" *ngIf="isEdit">Edit Site</h2>
        <p class="text-center" *ngIf="!isEdit">You can add a new site from the below form</p>
        <p class="text-center" *ngIf="isEdit">You can Edit site from the below form</p>
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Site Name</label>
                <input type="text" [(ngModel)]="siteName" name="siteName" class="border-2 border-gray-900 p-2 rounded-lg">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Site URL</label>
                <input type="text" [(ngModel)]="siteUrl" name="siteUrl" class="border-2 border-gray-900 p-2 rounded-lg">
            </div>
            <div class="flex flex-col">
                <label for="" class="text-lg font-medium mb-2">Site Image URL</label>
                <input type="text" [(ngModel)]="siteImgURL" name="siteImgUrl" class="border-2 border-gray-900 p-2 rounded-lg">
            </div>
            <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-lg" *ngIf="!isEdit">Add New Site</button>
            <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-lg"*ngIf="isEdit">Save Changes</button>
            <button class="mt-10 mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900  shadow rounded-md">Cancel</button>
        </form>
    </div>
    <div class="grid grid-cols-4 gap-5" >
        <div class="shadow-lg border-2 border-gray-900" *ngFor="let site of sitesList ">
            <img src="{{site.siteImgUrl}}" alt="">
            <h3 class="p-3 text-xl font-bold"> {{site.siteName}} </h3>
            <div class="w-60 m-3 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">
                {{site.siteUrl}}
            </div>
            <button routerLink="/password-list" class="my-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md" [routerLink]="['/password-list']" [queryParams]="{ name: site.siteName, siteUrl: site.siteUrl, siteImg: site.siteImgUrl, siteId: site._id }">Add new Password</button>
            <button class="my-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-white border-2 border-gray-900 text-gray-900 shadow rounded-md" (click)="editSite(site)">Edit</button>
            <button class="my-3 ml-3 mx-0.5 px-5 py-3 text-sm bg-white border-2 border-gray-900 text-gray-900 shadow rounded-md"  (click)="deleteSite(site._id)">Delete</button>

        </div>
    </div>
</div>
