
<div class="container bg-dark">
  <div class="close-container">
    <mat-icon class="close-icon" mat-dialog-close>close</mat-icon>
  </div>

  <div class="row">
    
    <div class="col-12">
      <h1 class="details__title">{{ movieDetails.title }}</h1>
    </div>
   

    
    <div class="col-12 col-xl-8">
      <div class="card card--details">
        <div class="row">
          <div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
            <div class="card__cover">
              <form>
                <img
                  src="{{movieDetails.thumbnail || 'assets/img/poster.png'}}"
                  alt=""
                />
                <label for="file-upload" class="custom-file-upload">
                  <mat-icon>cloud_upload</mat-icon> Upload image
                </label>
                <input
                  id="file-upload"
                  type="file"
                  (change)="uploadImg($event)"
                  accept=".jpg, .png, .jpeg"
                />
              </form>
            </div>
          </div>

          <div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
            <div class="card__content">
              <div class="card__wrap">
                <span class="card__rate"
                  ><i class="icon ion-ios-star"></i>8.4</span
                >

                <ul class="card__list">
                  <li>{{ movieDetails.quality }}</li>
                  <li>16+</li>
                </ul>
              </div>

              <ul class="card__meta">
                <li>
                  <span>Genre:</span> <a href="#">{{ movieDetails.genre }}</a>
                </li>
                <li>
                  <span>Release year:</span>
                  {{ movieDetails.releaseDate | date : "yyyy" }}
                </li>
                <li>
                  <span>Country:</span>
                  <a href="#">{{ movieDetails.country }}</a>
                </li>
                <li><span>Language:</span> {{ movieDetails.language }}</li>
              </ul>

              <div class="card__description card__description--details">
                {{
                  movieDetails.overview.length > 400
                    ? (movieDetails.overview | slice : 0 : 400) + "..."
                    : movieDetails.overview
                }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   

 
    <div class="col-10 col-xl-4">
      <video width="100%" controls>
       
        <source
          src="{{ movieDetails.videourl }}"
          type="video/mp4"
        />
      </video>
      <form>
        <label for="file-uploadd" class="custom-file-upload">
          <mat-icon>cloud_upload</mat-icon> Upload video
        </label>
        <input
          id="file-uploadd"
          type="file"
          (change)="uploadVideo($event)"
          accept="video/mp4"
        />
      </form>
    </div>
   
  </div>
</div>

