
.nav-link{
	color: white !important;
	font-weight: bolder;
	margin-right: 40px;

}
.nav:hover{
	color: white !important;
}
.nav:active{
	color: white !important;
}
.customeInput{
	margin-bottom: 30px;
	margin-right: 20px;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.customeLabel{
	cursor: pointer;
	width: 400px;
    min-height: 45px;
    color: #a8a7a7;
    outline: none;
	outline: none;
    transition: 0.35s;
    padding: 0px 7px;
    background-color: #212121;
    border-radius: 6px;
    border: 2px solid #212121;
    box-shadow: 6px 6px 10px rgba(0,0,0,1), 1px 1px 10px rgba(255, 255, 255, 0.6);
}