<app-navbar></app-navbar>
<div class="container mx-auto my-16">
    <div class="grid grid-cols-2 gap-5">
        <div class="shadow-lg border-2 border-gray-900">
            <img src="{{siteImg}}" alt="">
            <h3 class="text-xl font-bold p-3">{{sitename}}</h3>
            <div class="grid grid-cols-3 gap-3 my-1 p-3">
                <div class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm">{{siteUrl}}</div>
            </div>
        </div>
        <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
            <h2 class="text-3xl text-center" *ngIf="!isEdit">Add new User & Password</h2>
            <p class="text-center" *ngIf="!isEdit">you can add new user & password from the below form</p>

            <h2 class="text-3xl text-center" *ngIf="isEdit">Edit User & Password</h2>
            <p class="text-center" *ngIf="isEdit">you can Edit user & password from the below form</p>

            <form #passwordForm = "ngForm" (ngSubmit)="onSubmit(passwordForm.value)">
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">Email</label>
                    <input type="email" name="email" [(ngModel)]="email" class="border-2 border-gray-900 p-2 rounded-lg w-full" ngModel>
                </div>
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">Username</label>
                    <input type="text" name="username" [(ngModel)]="username" class="border-2 border-gray-900 p-2 rounded-lg w-full" ngModel email>
                </div>
                <div class="flex flex-col">
                    <label for="" class="text-lg font-medium mb-2">Password</label>
                    <input type="password" [(ngModel)]="password" name="password" class="border-2 border-gray-900 p-2 rounded-lg w-full" ngModel>
                </div>

                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded" *ngIf="!isEdit" >Add New Password</button>
                <button class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded" *ngIf="isEdit" >Save Changes </button>
            </form>
        </div>
    </div>
    <div class="grid grid-cols-1 mt-10">
        <table class="border-2 border-gray-900">
            <thead>
                <tr class="bg-gray-200 p-52 h-14 text-left">
                    <th class="border-2 border-gray-900 p-3">Email</th>
                    <th class="border-2 border-gray-900 p-3">Username</th>
                    <th class="border-2 border-gray-900 p-3">Password</th>
                    <th class="border-2 border-gray-900 p-3">Action</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr class="h-14" *ngFor= "let passwordItem of passwordList let i=index">
                    <td class="border-2 border-gray-900 p-3">{{passwordItem.email}}</td>
                    <td class="border-2 border-gray-900 p-3">{{passwordItem.username}}</td>
                    <td class="border-2 border-gray-900 p-3">{{passwordItem.password}} 
                        <button class="mx-0.5 px-3 text-sm text-white bg-red-900 border-1 border-gray-900 shadow rounded-md" (click)="onDecrypt(passwordItem.password, i)">Descrypt Password</button></td>
                    <td class="border-2 border-gray-900 p-3">
                        <button class="mx-0.5 px-5 py-3 text-sm text-white bg-gray-900 border-2 border-gray-900 shadow rounded-md" (click)="onEdit(passwordItem)">Edit</button>
                        <button class="mx-0.5 px-5 py-3 text-sm text-gray-900  border-2 border-gray-900 shadow rounded-md" (click)="onDelete(passwordItem._id)">Delete</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
