.filter__content form {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.filter__content div label {
  display: flex;
  text-transform: uppercase;
}

.filter__content div input {
  background-color: black;
  margin-right: 5px;
}

.filter__content div {
  margin-right: 5%;
}
.filter__items {
  width: 95%;
}

.filter__content div input,
select {
  width: 90px;
  background-color: #2b2b31;
  color: aliceblue;
  line-height: 10px;
  border: none !important;
  margin-right: 5px;
}
*:focus {
  outline: none;
}
.card__year {
  color: #ddd;
  margin: 0 !important;
  font-size: small !important;
}
.card__title {
  margin: 0 !important;
}
