<section
  class="section section--first section--bg"
  data-bg="assets/img/section/section.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section__wrap">
          <h1 class="section__title" style="font-size: 3rem">Movies</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="filter">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="filter__content">
          <form [formGroup]="form" (ngSubmit)="onsubmit()">
            <div class="filter__items">
              <div>
                <label for="genre">Genre:</label>

                <select name="genre" id="genre" formControlName="genre">
                  <option value="Action">Action</option>
                  <option value="Comedy">Comedy</option>
                  <option value="Family">Family</option>
                  <option value="Drama">Drama</option>
                  <option value="Romance">Romance</option>
                </select>
              </div>
              <div>
                <label for="country">Country:</label>

                <select name="country" id="country" formControlName="country">
                  <option value="United States">United States</option>
                  <option value="France">France</option>
                  <option value="China">China</option>
                </select>
              </div>
              <div>
                <label for="Language">Language:</label>
                <select
                  name="Language"
                  id="Language"
                  formControlName="language"
                >
                  <option value="English">English</option>
                  <option value="French">French</option>
                  <option value="Chinese">Chinese</option>
                </select>
              </div>
              <div>
                <label for="quality">Quality:</label>

                <select name="quality" id="quality" formControlName="quality">
                  <option value="4K">4K</option>
                  <option value="HD">HD</option>
                  <option value="SD">SD</option>
                  <option value="TS">TS</option>
                  <option value="CAM">CAM</option>
                </select>
              </div>
              <div>
                <label for="releaseDate">Year:</label>
                <input
                  type="range"
                  value="2023"
                  min="2000"
                  max="2023"
                  oninput="this.nextElementSibling.value = this.value"
                  formControlName="year"
                />
                <output style="color: aliceblue">2023</output>
              </div>

              <div>
                <label for="rating">rating:</label>
                <input
                  type="range"
                  value="0"
                  min="0"
                  max="10"
                  oninput="this.nextElementSibling.value = this.value"
                  formControlName="rating"
                />
                <output style="color: aliceblue">0</output>
              </div>

            </div>

            <button class="filter__btn" type="submit">apply filter</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="catalog">
  <div class="container">
    <h1 style="color: aliceblue;" *ngIf="moviesList.length <=0">No Movies Found</h1>
    <div class="row">
      <div
        class="col-6 col-sm-4 col-lg-3 col-xl-2"
        *ngFor="let movie of moviesList"
      >
        <div class="card">
          <div class="card__cover">
            <img
              src="{{movie.thumbnail || 'assets/img/poster.png'}}"
              alt=""
            />
            <a
              [routerLink]="['', 'user', 'movie', movie._id]"
              class="card__play"
            >
              <i class="icon ion-ios-play"></i>
            </a>
          </div>
          <div class="card__content">
            <h3 class="card__title">
              <a href="#">{{ movie.title }}</a>
            </h3>
            <h4 class="card__year">{{ movie.releaseDate | date : "yyyy" }}</h4>
            <span class="card__category">
              <a [routerLink]="['', 'user', 'movie', movie._id]">{{
                movie.genre
              }}</a>
            </span>
            <span class="card__rate"
              ><i class="icon ion-ios-star"></i>{{ movie.rating }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
