<section class="content">
  <div class="content__head">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- content title -->
          <h2 class="content__title">New items</h2>
          <!-- end content title -->

          <!-- content tabs nav -->
          <ul
            class="nav nav-tabs content__tabs"
            id="content__tabs"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                data-toggle="tab"
                href="#tab-1"
                role="tab"
                aria-controls="tab-1"
                aria-selected="true"
                >RECENTLY ADDED</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#tab-2"
                role="tab"
                aria-controls="tab-2"
                aria-selected="false"
                >MOVIES</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                data-toggle="tab"
                href="#tab-3"
                role="tab"
                aria-controls="tab-3"
                aria-selected="false"
                >TV SERIES</a
              >
            </li>
          </ul>
          <!-- end content tabs nav -->

          <!-- content mobile tabs nav -->
          <div class="content__mobile-tabs" id="content__mobile-tabs">
            <div
              class="content__mobile-tabs-btn dropdown-toggle"
              role="navigation"
              id="mobile-tabs"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <input type="button" value="New items" />
              <span></span>
            </div>

            <div
              class="content__mobile-tabs-menu dropdown-menu"
              aria-labelledby="mobile-tabs"
            >
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="1-tab"
                    data-toggle="tab"
                    href="#tab-1"
                    role="tab"
                    aria-controls="tab-1"
                    aria-selected="true"
                    >RECENTLY ADDED</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="2-tab"
                    data-toggle="tab"
                    href="#tab-2"
                    role="tab"
                    aria-controls="tab-2"
                    aria-selected="false"
                    >MOVIES</a
                  >
                </li>

                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="3-tab"
                    data-toggle="tab"
                    href="#tab-3"
                    role="tab"
                    aria-controls="tab-3"
                    aria-selected="false"
                    >TV SERIES</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- end content mobile tabs nav -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- content tabs -->
    <div class="tab-content" id="myTabContent">
      <div
        class="tab-pane fade show active"
        id="tab-1"
        role="tabpanel"
        aria-labelledby="1-tab"
      >
        <div class="row">
          <!-- card -->
          <div
            class="col-6 col-sm-12 col-lg-6"
            *ngFor="
              let movie of moviesList
                | slice
                  : (moviesList && moviesList.length > 6
                      ? moviesList.length - 6
                      : 0)
                | reverse
            "
          >
            <div class="card card--list">
              <div class="row">
                <div class="col-12 col-sm-4">
                  <div class="card__cover">
                    <img
                      src="{{
                        movie.thumbnail || 'assets/img/poster.png'}}"
                      alt=""
                    />
                    <a
                      [routerLink]="['', 'user', 'movie', movie._id]"
                      class="card__play"
                    >
                      <i class="icon ion-ios-play"></i>
                    </a>
                  </div>
                </div>

                <div class="col-12 col-sm-8">
                  <div class="card__content">
                    <h3 class="card__title">
                      <a [routerLink]="['', 'user', 'movie', movie._id]">{{
                        movie.title
                      }}</a>
                    </h3>
                    <h4 class="card__year">
                      {{ movie.releaseDate | date : "yyyy" }}
                    </h4>
                    <span class="card__category">
                      <a href="#">{{ movie.genre }}</a>
                    </span>

                    <div class="card__wrap">
                      <span *ngIf="movie.rating" class="card__rate"
                        ><i class="icon ion-ios-star"></i
                        >{{ movie.rating }}</span
                      >

                      <ul class="card__list">
                        <li>{{ movie.quality }}</li>
                        <li>16+</li>
                      </ul>
                    </div>

                    <div class="card__description">
                      <p>{{ movie.overview }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-2"
        role="tabpanel"
        aria-labelledby="2-tab"
      >
        <div class="row">
          <!-- card -->
          <div
            class="col-6 col-sm-4 col-lg-3 col-xl-2"
            *ngFor="let movie of moviesList?.slice(0, currentPageM)"
          >
            <div class="card">
              <div class="card__cover">
                <img
                  src="{{movie.thumbnail || 'assets/img/poster.png'}}"
                  alt=""
                />
                <a
                  [routerLink]="['', 'user', 'movie', movie._id]"
                  class="card__play"
                >
                  <i class="icon ion-ios-play"></i>
                </a>
              </div>
              <div class="card__content">
                <h3 class="card__title">
                  <a [routerLink]="['', 'user', 'movie', movie._id]">{{
                    movie.title
                  }}</a>
                </h3>
                <h4 class="card__year">
                  {{ movie.releaseDate | date : "yyyy" }}
                </h4>
                <span class="card__category">
                  <a href="#">{{ movie.genre }}</a>
                </span>

                <span *ngIf="movie.rating" class="card__rate"
                  ><i class="icon ion-ios-star"></i>{{ movie.rating }}</span
                >
              </div>
            </div>
          </div>
          <div class="loadMoreDiv">
            <button
              class="loadMore"
              (click)="loadMoreM()"
              [disabled]="currentPageM >= moviesList.length"
            >
              Load More
            </button>
          </div>
          <!-- end card -->
        </div>
      </div>

      <div
        class="tab-pane fade"
        id="tab-3"
        role="tabpanel"
        aria-labelledby="3-tab"
      >
        <div class="row">
          <!-- card -->
          <div
            class="col-6 col-sm-4 col-lg-3 col-xl-2"
            *ngFor="let tvshow of tvshowsList.slice(0, currentPageT)"
          >
            <div class="card">
              <div class="card__cover">
                <img
                  src="{{tvshow.thumbnail || 'assets/img/poster.png'}}"
                  alt=""
                />
                <a
                  [routerLink]="['', 'user', 'tvshow', tvshow._id]"
                  class="card__play"
                >
                  <i class="icon ion-ios-play"></i>
                </a>
              </div>
              <div class="card__content">
                <h3 class="card__title">
                  <a [routerLink]="['', 'user', 'tvshow', tvshow._id]">{{
                    tvshow.title
                  }}</a>
                </h3>
                <h4 class="card__year">
                  {{ tvshow.releaseDate | date : "yyyy" }}
                </h4>
                <span class="card__category">
                  <a href="#">{{ tvshow.genre }}</a>
                </span>
                <span *ngIf="tvshow.rating" class="card__rate"
                  ><i class="icon ion-ios-star"></i>{{ tvshow.rating }}</span
                >
              </div>
            </div>
          </div>
          <div class="loadMoreDiv">
            <button
              class="loadMore"
              (click)="loadMoreT()"
              [disabled]="currentPageT >= tvshowsList.length"
            >
              Load More
            </button>
          </div>
          <!-- end card -->
        </div>
      </div>
    </div>
    <!-- end content tabs -->
  </div>
</section>
