<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-theme-primary" *ngIf="isEdit">Update Post</h3>
      <h3 class="text-theme-primary" *ngIf="!isEdit">Add New Post</h3>
      <p class="mb-5" *ngIf="!isEdit">You can add your new Post here</p>
      <p class="mb-5" *ngIf="isEdit">You can update your new Post here</p>
    </div>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onsubmit()">
    <div class="row">
      <div class="col-md-7">
        <div class="card shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label for="">Title</label>
              <input
                type="text"
                class="form-control"
                name="title"
                (keyup)="handleTitle()"
                formControlName="title"
                [ngClass]="{
                  'is-invalid': fc.title.touched && fc.title.invalid
                }"
              />
              <div *ngIf="fc.title.errors?.['required']">
                <div
                  class="alert alert-danger"
                  *ngIf="fc.title.touched && fc.title.invalid"
                >
                  Title is required
                </div>
              </div>
              <div *ngIf="!fc.title.errors?.['minLength']">
                <div
                  class="alert alert-danger"
                  *ngIf="fc.title.touched && fc.title.invalid"
                >
                  Title must be atleast 10 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="">Permalink</label>
              <input
                type="text"
                class="form-control"
                formControlName="permalink"
              />
            </div>
            <div class="form-group">
              <label for="">Excerpt</label>
              <textarea
                cols="30"
                rows="10"
                class="form-control"
                formControlName="excerpt"
                [ngClass]="{
                  'is-invalid': fc.title.touched && fc.title.invalid
                }"
              ></textarea>
              <div *ngIf="fc.excerpt.errors?.['required']">
                <div
                  class="alert alert-danger"
                  *ngIf="fc.excerpt.touched && fc.excerpt.invalid"
                >
                  Title is required
                </div>
              </div>
              <div *ngIf="!fc.excerpt.errors?.['minLength']">
                <div
                  class="alert alert-danger"
                  *ngIf="fc.excerpt.touched && fc.excerpt.invalid"
                >
                  Title must be atleast 50 characters
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="">Please Select a post category</label>
          <select
            name=""
            id=""
            class="form-control"
            formControlName="categoryId"
            [ngClass]="{
              'is-invalid': fc.categoryId.touched && fc.categoryId.invalid
            }"
          >
            <option value="" default>Please select a category</option>
            <option [value]="category._id" *ngFor="let category of categories">
              {{ category.name }}
            </option>
          </select>
          <div *ngIf="fc.categoryId.errors?.['required']">
            <div
              class="alert alert-danger"
              *ngIf="fc.categoryId.touched && fc.categoryId.invalid"
            >
              Category is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Post Image</label>
          <img
            [src]="imgSrc"
            alt=""
            class="form-control img-fluid img-preview"
          />
          <input
            type="file"
            class="form-control"
            (change)="showpreview($event)"
            formControlName="imgPath"
            accept="image/*"
            
          />
          <div *ngIf="fc.imgPath.errors?.['required']">
            <div
              class="alert alert-danger"
              *ngIf="fc.imgPath.touched && fc.imgPath.invalid"
            >
              Image is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="car shadow-effect">
          <div class="card-body">
            <div class="form-group">
              <label for="">Content</label>
              <angular-editor
                [placeholder]="'Add your content here'"
                formControlName="content"
                
              ></angular-editor>
              <div *ngIf="fc.content.errors?.['required']">
                <div
                  class="alert alert-danger"
                  *ngIf="fc.content.touched && fc.content.invalid"
                >
                  Content is required
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center mt-5">
        <button class="btn btn-info bg-theme" *ngIf="!isEdit" [disabled]="!postForm.valid">Save Post</button>
        <button class="btn btn-info bg-theme" *ngIf="isEdit" >Update Post</button>
        <button class="btn btn-warning ml-3" routerLink="/posts">
          Back to Post
        </button>
      </div>
    </div>
  </form>
</div>
