
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color: #026467;
    --secondary-color: #cbcecc80;
    --body-text-color: #596392;
    --navbar-footer-color: #e6e2e2;
}

body{
    font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important;
    color: var(--body-text-color) !important;
    display: contents;
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondary-color) !important;
    color: var(--primary-color);
}

.nav-link{
    color: var(--primary-color) !important;
}
.shadow-effect{
    border: none;
    box-shadow: 0px 0px 33px -12px #282a2ac9 !important;

}
.bg-theme{
    background-color: var(--primary-color);
}

.bg-secondary-theme{
    background-color: var(--secondary-color);
}
.text-theme-primary{
    color: var(--primary-color);
}
.btn-theme{
    height: 58px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
}

input[type = text], input[type = email]{
    height: 60px;
    padding-left: 20px !important;
    font-size: 13px;
    width: 100%;

}

